<app-header></app-header>

<div class="container-fluid" style="padding-top: 5%; padding: 3%;">
  <div class="row" style="justify-content: center;">
    <div class="col-12 col-sm-3">
      <app-segmentation (segmentChange)='change($event)' segmentModel="segmentModel"></app-segmentation>
    </div>
    <div class="col-12 col-sm-3">
      <app-conditions [segments]="segments"></app-conditions>
    </div>
    <div class="col-12 col-sm-5">
      <app-clauses></app-clauses>
    </div>
  </div>
</div>
