<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img style="width: 45%;" src="../../assets/Captura.PNG" alt="NovaQuality"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active" style="padding-left: 60px;" (click)="modal()">
        <a class="nav-link">User</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">NQ Segmentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NQ On Line</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NQ Data QUality</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NQ Analitycs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Info</a>
      </li>
    </ul>
  </div>
</nav>
<nz-modal [(nzVisible)]="isVisible" [nzCancelText]='null' [nzOkText]='null' [nzClosable]='false' [nzWidth]="420" (nzOnCancel)="modal()" (nzOnOk)="modal()" [nzOkText]='' >
  <form nz-form class="login-form" (ngSubmit)="submitForm()" style="margin: 0 auto;top: 2rem;position: relative;">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your user!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input  placeholder="user" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox >
          <span>Remember me</span>
        </label>
    <!--     <a class="login-form-forgot" class="login-form-forgot">Forgot password</a> -->
        <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>