@import '../theme/colors.scss';

nav {
  background-color: white !important;
  color: $primary !important;
  box-shadow: 0px 6px 20px 0px #a0a0a047
}

#navbarNav {
  justify-content: flex-end;
}

li a {
  color: $primary !important;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}