<!-- BOTON DE APERTURA DE EL MODAL -->

<nz-modal [(nzVisible)]="isVisible" [nzWidth]="720" nzTitle="New Clause" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <div nz-row>
    <div nz-col nzSpan="8">
      <div class="form-group">
        <label>Order Priority</label>
        <input name="" class="form-control" placeholder="1" type="text" />
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Columns</th>
            <th>Data Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Col 1</td>
            <td>Number</td>
          </tr>
          <tr>
            <td>Col 2</td>
            <td>Number</td>
          </tr>
          <tr>
            <td>Col 3</td>
            <td>Number</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Functions / Models</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Col 1</td>
            <td>Number</td>
          </tr>
          <tr>
            <td>Col 2</td>
            <td>Number</td>
          </tr>
          <tr>
            <td>Col 3</td>
            <td>Number</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Array</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Col 1</td>
            <td>Number</td>
          </tr>
          <tr>
            <td>Col 2</td>
            <td>Number</td>
          </tr>
          <tr>
            <td>Col 3</td>
            <td>Number</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="13">
      <div class="form-group">

        <label>text</label>
        <input name="" class="form-control" placeholder="(left('Col 1',3)='ORN')" type="text" />
      </div>
      <div class="form-group">
        <nz-input-group nzAddOnBefore="text">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
            <nz-option nzLabel="AND" nzValue="AND"></nz-option>
            <nz-option nzLabel="OR" nzValue="OR"></nz-option>
          </nz-select>
        </nz-input-group>

      </div>
      <app-treemap></app-treemap>
    </div>
  </div>

  <div *nzModalFooter>
    <button type="button" class="btn btn-outline-dark" (click)="handleCancel()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="handleOk()">
      Assign Data
    </button>
  </div>
</nz-modal>
