<div style="position: absolute;left: 7em;">
  <img style="width:35px" src="../../../assets/stadistic.png" alt="" />
</div>

<button style="border-radius: 25px;    width: 35px;
height: 35px;
display: flex;
align-items: center;
justify-content: center;" class="btn btn-primary " (click)="showModal()">
 <i class="fas fa-plus"></i>
</button>


<nz-modal nzStyle="text-align:left" [(nzVisible)]="isVisible" [nzWidth]="1080" nzTitle="" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" [nzCancelText]='null' [nzOkText]='null' [nzClosable]='false' [nzBodyStyle]="{height:'20%'}">
  <h2 style="text-align: left;color: #1e81ce;">
    <img src="../../assets/svg/001-segment.svg" style="width: 5%;" alt="">
    New Segmentation Models</h2>
  <form style="margin: 0 2rem;">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-group">
            <label for="namesegmentation">Name</label>
            <input type="text" id="namesegmentation" class="form-control" />
          </div>
          <div class="form-group">
            <label for="namedescription">Description</label>
            <input type="text" id="namedescription" class="form-control" />
          </div>
          <div class="form-group">
            <label for="namedescription">Content</label>
            <input type="text" id="contentsegmentation" class="form-control" />
          </div>
          <div class="form-group">
            <label for="schedulesegmentation">Scheduled obsolence</label>
            <div class="row">
              <div class="col-sm-3">
                <label>Unit</label>
                <input name="" class="form-control" placeholder="1" type="text" />
              </div>
              <div class="col-sm-2">
                <label>Time</label>
                <select class="custom-select" id="inputGroupSelect01">
                  <option value="0" selected>Dias</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-sm-7">
                <label>From</label>
                <select class="custom-select" id="inputGroupSelect01">
                  <option value="0" selected>Ultima Ejecucion</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="col-sm-6">
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="customControlValidation1" required />
          <label class="custom-control-label" for="customControlValidation1">Copy from Segmentation Model
          </label>
        </div>
        <div class="form-group">
          <label for="validationServer04">Name Segmentation Model </label>
          <select class="custom-select" id="validationServer04" required>
            <option selected disabled value="">Choose...</option>
          </select>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="restcondition" />
          <label class="custom-control-label" for="restcondition">Create rest Condition
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <label class="custom-control-label" for="restcondition">
            <b> Add Conditions List</b><i class="fas fa-filter"
              style="font-size: 2em;position: absolute;color: #1e81ce;left: 110%;top: 0rem;"></i>
          </label>
        </div>
      </div>

    </div>
  </form>
  <div style="position: relative;left: 80%;">
    <button type="button" class="btn btn-primary" (click)="handleOk()" style="margin-right:1rem;">
      Create
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="handleOk()">
      Cancel
    </button>
  </div>

</nz-modal>
