<div style="position: absolute;left: 7em;">
  <img style="width:35px" src="../../assets/svg/002-funnel.svg" alt="" />
</div>
<button style="border-radius: 25px;    width: 35px;
height: 35px;
display: flex;
align-items: center;
justify-content: center;" class="btn btn-primary" (click)="showModal()">
  <i class="fas fa-plus"></i>
</button>

<nz-modal [(nzVisible)]="isVisible" [nzWidth]="720" nzTitle="" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzClosable]='false'>
  <h2 style="text-align: left;color: #1e81ce;">
    <img src="../../assets/svg/002-funnel.svg" width="5%">
    New Segmentation Models</h2>
  <form>
    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label>Name</label>
          <input name="" class="form-control" placeholder="Nombre" type="text" />
        </div>
        <div class="form-group">
          <label>Description</label>
          <input name="" class="form-control" placeholder="Description model" type="text" />
        </div>
        <div class="form-group">
          <label>Coment</label>
          <input name="" class="form-control" placeholder="Coments" type="text" />
        </div>
      </div>
      <div class="col-sm-6" style="    top: 2.3rem;">
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="restcondition" />
          <label class="custom-control-label" for="restcondition">Copy From Other Condition
          </label>
        </div>
        <div class="form-group">
          <label>Name Other condition</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="0" selected>Segmento Nombre 1</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="form-group">
          <label>Order Priority</label>
          <input name="" class="form-control" placeholder="1" type="text" />
        </div>
      </div>
    </div>
  </form>
  <div *nzModalFooter>
    <button type="button" class="btn btn-primary" (click)="handleOk()">
      Create
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="handleOk()">
      Cancel
    </button>
  </div>
</nz-modal>
