@import './colors.scss';

.form-group {
  label {
    color: $black_grey;
    margin-bottom: 2px;
  }
}

input {
  &.form-control {
    border: 0px solid $grey !important;
    border-bottom: 2px solid $grey !important;
    border-radius: 0;
    transition: all ease-in .3s;

    &:focus {
      box-shadow: none;
      border-bottom: 2px solid $primary !important;
    }
  }
}

select.custom-select {
  border: 0px solid $grey !important;
  border-bottom: 2px solid $grey !important;
  border-radius: 0;

  &:focus {
    box-shadow: none;
    border-bottom: 2px solid $primary !important;
  }
}
