@use './colors.scss';

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.09) !important;
}

.ant-modal-content {

  border-radius: 24px !important;
  border: 2px solid $primary !important;
}

.ant-modal-header {

  border-radius: 35px 35px 0 0 !important;
}
