@import './colors.scss';

table {
  tr {
    td {
      padding: 4px !important;

      i {
        cursor: pointer;
        color: $primary;
        transition: all ease-in .2s;

        &:hover {
          color: $primary_dark;
        }
      }

    }
  }
}
