.login_content {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 8% 0 0;
}

.login_header {
  margin: 8%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20%;
}

.login_card {
  width: 420px;
  padding: 60px 20px;
}
