<div class="login_content">
  <div class="card login_card">
    <div class="card-body">
      <div class="login_header">
        <h1>NovaQuality</h1>
      </div>
      <form action="/content">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo Electronico">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
        <button style="width: 100%;" type="submit" class="btn btn-primary">Ingresar</button>
      </form>
    </div>
  </div>
</div>
