.list-group-item {
  padding: 2px .25rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 0rem !important;
}
.list-group-item:first-child{
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
}
.list-group-item:last-child{
  border-bottom-left-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}
.list-group-item.active{
  background-color: #9e9e9e7a !important;
    border-color: transparent !important;
    border: 0 !important;
}
.table td, .table th{
  border: solid 3px white !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 67, 138, 0.26) !important
}
.table tr{
  background: #80808038;
}