<i class="fas fa-database" (click)="showModal()"></i>

<nz-modal style="text-align:center" [(nzVisible)]="isVisible" [nzWidth]="720" nzTitle="" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" [nzCancelText]='null' [nzOkText]='null' [nzClosable]='false'>
  <h2 style="text-align: left;color: #1e81ce;">
    <img src="../../../assets/db.png" style="width: 6%;" alt="">
    Assign data structure</h2>
  <div style="position: absolute;top: 1rem;left: 70%;color: black;background: transparent;">
    <button type="button" style="border: 0;" class="btn btn-outline-dark" (click)="handleCancel()">
      Assign Data
    </button>
    <button type="button" style="border: 0;" class="btn btn-outline-dark" (click)="handleOk()">
      Cancel
    </button>
  </div>
  <div class="row">
    <div class="col-sm-4" style="position: relative;top: 4.1em;">
      <label for="">Available data structure</label>
      <div class="list-group" style="border-radius: 0;border: solid 1px black;">
        <a href="#" class="list-group-item list-group-item-action active">
          Intervinientes
        </a>

        <a href="#" class="list-group-item list-group-item-action">Contratos</a>
        <a href="#" class="list-group-item list-group-item-action">Datos tipo 1</a>
        <a href="#" class="list-group-item list-group-item-action">Datos tipo 2</a>
        <a href="#" class="list-group-item list-group-item-action">Datos tipo 3</a>
        <a href="#" class="list-group-item list-group-item-action">Datos tipo 4</a>
        <a href="#" class="list-group-item list-group-item-action">Datos tipo 5</a>
        <a href="#" class="list-group-item list-group-item-action">Datos tipo 6</a>
        <a href="#" class="list-group-item list-group-item-action">Datos tipo 7</a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <img src="../../../assets/search.png" style="width: 7%;    position: absolute;left: 44px;top: 1rem;" alt="">
        <label for="namesegmentation" style="    position: relative;left: -5rem;">Number of rows profile</label>
        <input style="width: 25%;position: relative;left: 16%;" type="number" id="namesegmentation"
          class="form-control" />
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="    background: #0070e8;color: white;border: solid;">Columns Name</th>
            <th scope="col" style="    background: #0070e8;color: white;border: solid;">Data Type</th>
            <th scope="col" style="    background: #0070e8;color: white;border: solid;">Not empty</th>
            <th scope="col" style="    background: #0070e8;color: white;border: solid;">Distint</th>
            <th scope="col" style="    background: #0070e8;color: white;border: solid;">Key Columns</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Col 1</td>
            <td>Number</td>
            <td>100%</td>
            <td>4000</td>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required />
                <label class="custom-control-label" for="customControlValidation1"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Col 1</td>
            <td>Number</td>
            <td>100%</td>
            <td>4000</td>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required />
                <label class="custom-control-label" for="customControlValidation1"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Col 1</td>
            <td>Number</td>
            <td>100%</td>
            <td>4000</td>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required />
                <label class="custom-control-label" for="customControlValidation1"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Col 1</td>
            <td>Number</td>
            <td>100%</td>
            <td>4000</td>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required />
                <label class="custom-control-label" for="customControlValidation1"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Col 1</td>
            <td>Number</td>
            <td>100%</td>
            <td>4000</td>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required />
                <label class="custom-control-label" for="customControlValidation1"></label>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</nz-modal>
