@import '../theme/colors.scss';

h4 {
  color: $primary
}

.card {
  height: 450px;
}

#modal {
  position: absolute;
  bottom: 1.25rem;
}

.number {
  text-align: center;
  color: white;
  background: $primary;
  margin: 2px;
  border-radius: 5px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .number {
    margin: 2px;
    width: 30px;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-dragging {
  display: flex;
  justify-content: space-between;
}
