<div class="container">
  <h4 style="text-align: center;font-weight: normal;font-size:22px">
    Segment
    <img style="width:8%" src="../../assets/svg/002-funnel.svg" alt="" />
  </h4>
  <div class="card">
    <div class="card-body">
      <table class="table">
        <tbody cdkDropList (cdkDropListDropped)="drop($event)" style="cursor: pointer;">
          <tr *ngFor="let item of conditions; index as i" cdkDrag>
            <td cdkDragHandle style="cursor: move">
              <div class="number">
                <b>{{ i + 1 }}</b>
              </div>
            </td>
            <td>
              <app-edit-condition [title]="item.title"></app-edit-condition>
            </td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
      <app-new-condition id="modal"> </app-new-condition>
    </div>
  </div>
</div>
