<div (click)="showModal()">{{title}}</div>

<nz-modal [(nzVisible)]="isVisible" [nzWidth]="720" nzTitle="" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzClosable]='false'>
  <h2 style="color: #1e81ce;">
    <img src="../../assets/svg/002-funnel.svg" style="width: 5%;" alt="">
    Edit Segment</h2>
  <form>
    <div class="form-group">
      <label>Name</label>
      <input name="" class="form-control" placeholder="Nombre" type="text" />
    </div>
    <div class="form-group">
      <label>Description</label>
      <input name="" class="form-control" placeholder="Description model" type="text" />
    </div>
    <div class="form-group">
      <label>Coment</label>
      <input name="" class="form-control" placeholder="Coments" type="text" />
    </div>
  </form>
  <div *nzModalFooter>
    <button type="button" class="btn btn-primary" (click)="handleOk()">
      Save
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="handleOk()">
      Cancel
    </button>
  </div>
</nz-modal>
