<div class="container">
  <h4 style="text-align: center;font-weight: normal;font-size: 22px;">
    Condition
    <img style="width:5%" src="../../assets/svg/003-calculator.svg" alt="" />
  </h4>
  <div class="card">
    <div class="card-body">
      <div class="row" cdkDropListGroup>
        <div class="col-sm-8" style="background-color: #819fd9;padding: 0;">
          <div class="row">
            <div
            class="col-sm-12"
            (cdkDropListDropped)="drop($event)"
            #cond="cdkDropList"
            cdkDropList
            >
              <p
                style="margin: 8px;
              display: flex;
              align-items: center;"
                id="cond"
              #cond="cdkDropList"
              cdkDropList
              (cdkDropListDropped)="drop($event)"
              >
                <b>Condition</b>
              </p>
              <div>
                <textarea
                  rows="6"
                  nz-input
                  [(ngModel)]="inputValue.condition"
                ></textarea>
              </div>
            </div>
            <div class="col-sm-12">
              <p
                style="margin: 8px;
              display: flex;
              align-items: center;"
              >
                <b>Parameter</b>
              </p>
              <textarea
                rows="6"
                nz-input
                [(ngModel)]="inputValue.parameter"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="background-color: #819fd9;padding: 0;">
          <p
            *ngIf="option === 0"
            style="color: black;position: relative;top: 35%;    top: 35%;font-size: 1.5rem;text-align: center;"
          >
            Select icons to see list of available items
          </p>

          <div *ngIf="option === 1">
            <table class="table table-striped" style="background-color: white;">
              <thead>
                <tr>
                  <th
                    scope="col"
                    style="    background: #0070e8;color: white;border: ssolid;"
                  >
                    Columns Name
                  </th>
                  <th
                    scope="col"
                    style="    background: #0070e8;color: white;border: solid;"
                  >
                    Data Type
                  </th>
                </tr>
              </thead>
              <tbody
                id="list"
                #list="cdkDropList"
                dragula="COLUMS"
                cdkDropList
                [cdkDropListData]="colums"
                (cdkDropListDropped)="drop($event)"
              >
                <tr cdkDrag>
                  <td>Col 1</td>
                  <td>Number</td>
                </tr>
                <tr cdkDrag>
                  <td>Col 2</td>
                  <td>Number</td>
                </tr>
                <tr cdkDrag>
                  <td>Col 3</td>
                  <td>Number</td>
                </tr>
                <tr cdkDrag>
                  <td>Col 4</td>
                  <td>Number</td>
                </tr>
                <tr cdkDrag>
                  <td>Col 5</td>
                  <td>Number</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div
        class="row"
        style="    justify-content: space-between;align-items: center;
    padding-left: 15px;
    padding-top: 32px;"
      >
      <img (click)="changeOption(1)" src="../../../assets/6.jpeg" style="width: 40px;cursor: pointer;" />
      <app-newclauses id="modal"> </app-newclauses>
   <!--      <i
          
          class="fas fa-file-signature"
          style="color: #007aff;font-size: 32px"
        >
         
        </i> -->
        <img src="../../../assets/2.png" style="width: 40px;cursor: pointer;" />
        <img src="../../../assets/3.png" style="width: 40px;cursor: pointer;" />
        <i style="color: #007aff;position: relative;top: 5px;font-size: 40px;cursor: pointer;" class="fas fa-check"></i>
        <img src="../../../assets/5.png" style="width: 40px;cursor: pointer;" />
      </div>
    </div>
  </div>
</div>
