<div (click)="showModal()">{{title}}</div>

<nz-modal [(nzVisible)]="isVisible" [nzWidth]="720" nzTitle="" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzClosable]='false'>
  <h2 style="color: #1e81ce;">
    <img src="../../assets/svg/001-segment.svg" style="width: 6%;" alt="">
    Edit Segmentation Models</h2>
  <form>
    <div class="form-group">
      <label>Name</label>
      <input name="" class="form-control" placeholder="Nombre" type="text" />
    </div>
    <div class="form-group">
      <label>Description</label>
      <input name="" class="form-control" placeholder="Description model" type="text" />
    </div>
    <div class="form-group">
      <label>Coment</label>
      <input name="" class="form-control" placeholder="Coments" type="text" />
    </div>
    <div>
      <label> Scheduled Obsolescense</label>
      <div class="row">
        <div class="col-sm-2">
          <label>Unit</label>
          <input name="" class="form-control" placeholder="1" type="text" />
        </div>
        <div class="col-sm-2">
          <label>Time</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="0" selected>Dias</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-sm-8">
          <label>From</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="0" selected>Ultima Ejecucion</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <div *nzModalFooter>
    <button type="button" class="btn btn-outline-dark" (click)="handleOk()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="handleOk()">
      Create
    </button>
  </div>
</nz-modal>
