<!-- BOTON DE APERTURA DE EL MODAL -->
<i class="fas fa-play" (click)="showModal()"></i>

<nz-modal [(nzVisible)]="isVisible" [nzWidth]="1080" nzTitle="" (nzOnCancel)="handleCancel()"
  [nzCancelText]='null' [nzOkText]='null' [nzClosable]='false'>
  <h2 style="color: #1e81ce;">
    <i class="fas fa-play"></i>
    Run Segmentation</h2>
    <div style="position: absolute;top: 1rem;left: 70%;color: black;background: transparent;border: 0;">
      <button type="button" class="btn btn-success" (click)="handleOk()" >
        <!--    <i class="far fa-play-circle"></i> --> <b> Run Now</b>
         </button>
         <button type="button" class="btn btn-outline-dark" (click)="handleCancel()">
           Save
         </button>
         <button type="button" class="btn btn-outline-dark" (click)="handleOk()">
           Cancel
         </button>
    </div>

  <div nz-row>
    <div nz-col nzSpan="8">
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="run_calendar" />
        <label class="custom-control-label" for="run_calendar">Calendar
        </label>
      </div>
      <app-calendar></app-calendar>
    </div>
    <div nz-col nzSpan="8">
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="run_programing" />
        <label class="custom-control-label" for="run_programing">Programming
        </label>
      </div>
      <div class="form-group">
        <label for="schedulesegmentation">Scheduled obsolence</label>
        <div class="row">
          <div class="col">
            <label>Unit</label>
            <input name="" class=" form-control" placeholder="1" type="text" />
          </div>
          <div class="col">
            <label>Time</label>
            <select class="custom-select" id="inputGroupSelect01">
              <option value="0" selected>Dias</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col">
            <label>At time</label>
            <input value="12:00" name="" class="form-control" placeholder="1" type="time" />
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8">
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="run_events" />
        <label class="custom-control-label" for="run_events">Events </label>
      </div>
      <div class="form-group" style="padding-top: 1.65em;padding-left: 5px;">

        <label>After Event</label>
        <select class="custom-select" id="inputGroupSelect01">
          <option value="0" selected>Actualización datos</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>
</nz-modal>
