<div class="container">
  <h4 style="text-align: center;font-weight: normal;font-size:22px">Segmentation Models <img style="width:8%"
      src="../../assets/svg/001-segment.svg" alt="">
  </h4>
  <div class="card">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr *ngFor="let item of segments; let i=index" [ngStyle]="changeStyle(i)">
            <td (click)="valueChanged(item.unit, i)"><span>{{item.unit}}</span><i class="fas fa-filter" [ngStyle]="changeStyle(i)"></i></td>
            <td (click)="valueChanged(null, i)">
              <app-edit-segment [title]="item.namesegmentation"> </app-edit-segment>
            </td>
            <td>
              <app-datastructure></app-datastructure>
            </td>
            <td>
              <app-runsegmentation></app-runsegmentation>
            </td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
      <app-newsegmentation id="modal"></app-newsegmentation>
    </div>
  </div>
</div>
