@import '../theme/colors.scss';

h4 {
  color: $primary
}

.card {
  height: 450px;
}

.actived{
  background-color: #0062cc;
  color: white;
}

#modal {
  position: absolute;
  bottom: 1.25rem;
}

td span {
  font-size: 10px;
}
